
<div class="left-menu">

<ul class="cd-accordion cd-accordion--animated margin-top-lg margin-bottom-lg">
  <li class="cd-accordion__item cd-accordion__item--has-children">
    <input class="cd-accordion__input" type="checkbox" name="group-1" id="group-1">
    <label class="cd-accordion__label cd-accordion__label--icon-folder" for="group-1"><span>ENSEIGNEMENT DE
        L'EPS</span></label>

    <ul class="cd-accordion__sub cd-accordion__sub--l1">
      <li class="cd-accordion__item cd-accordion__item--has-children">
        <input class="cd-accordion__input" type="checkbox" name="sub-group-1" id="sub-group-1">
        <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-1"><span>Sports Collectifs/
            Renvoi</span></label>

        <ul class="cd-accordion__sub cd-accordion__sub--l2">
          <li class="cd-accordion__item cd-accordion__item--has-children">
            <input class="cd-accordion__input" type="checkbox" name="sub-group-2" id="sub-group-2">
            <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-2"><span>Foot
                Ball</span></label>

            <ul class="cd-accordion__sub cd-accordion__sub--l2">
              <li class="cd-accordion__item cd-accordion__item--has-children">
                <input class="cd-accordion__input" type="checkbox" name="sub-group-level-3" id="sub-group-level-3">
                <label class="cd-accordion__label cd-accordion__label--icon-folder"
                  for="sub-group-level-3"><span>Collegial</span></label>

                <ul class="cd-accordion__sub cd-accordion__sub--l3">
                  <li class="cd-accordion__item cd-accordion__item--has-children">
                    <input class="cd-accordion__input" type="checkbox" name="group-2" id="group-2">
                    <label class="cd-accordion__label cd-accordion__label--icon-folder"
                      for="group-2"><span>Niveau</span></label>

                    <ul class="cd-accordion__sub cd-accordion__sub--l1">
                      <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                          href="#0"><span>Image</span></a></li>
                      <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                          href="#0"><span>Image</span></a></li>
                    </ul>
                </ul>

              </li>

              <li class="cd-accordion__item cd-accordion__item--has-children">
                <input class="cd-accordion__input" type="checkbox" name="sub-group-level-3" id="sub-group-level-3">
                <label class="cd-accordion__label cd-accordion__label--icon-folder"
                  for="sub-group-level-3"><span>Qualifiant</span></label>

                <ul class="cd-accordion__sub cd-accordion__sub--l3">
                  <li class="cd-accordion__item cd-accordion__item--has-children">
                    <input class="cd-accordion__input" type="checkbox" name="group-2" id="group-2">
                    <label class="cd-accordion__label cd-accordion__label--icon-folder"
                      for="group-2"><span>Niveau</span></label>

                    <ul class="cd-accordion__sub cd-accordion__sub--l1">
                      <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                          href="#0"><span>Image</span></a></li>
                      <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img"
                          href="#0"><span>Image</span></a></li>
                    </ul>


                  </li>

                </ul>

              </li>


            </ul>
          </li>

        </ul>

      </li>
      </ul>



  <li class="cd-accordion__item cd-accordion__item--has-children">
      <input class="cd-accordion__input" type="checkbox" name ="group-4" id="group-4">
      <label class="cd-accordion__label cd-accordion__label--icon-folder" for="group-4"><span>REFERENCES OFFICIELLES</span></label>

      <ul class="cd-accordion__sub cd-accordion__sub--l1">
        <li class="cd-accordion__item cd-accordion__item--has-children">
          <input class="cd-accordion__input" type="checkbox" name ="sub-group-3" id="sub-group-3">
          <label class="cd-accordion__label cd-accordion__label--icon-folder" for="sub-group-3"><span>Sub Group 3</span></label>

          <ul class="cd-accordion__sub cd-accordion__sub--l2">
            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
            <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
          </ul>
        </li>
        <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
        <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" href="#0"><span>Image</span></a></li>
      </ul>
    </li>


</ul>

</div>