<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Maundy - Bootstrap Coming Soon Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   {% load static %}
  <!-- Favicons -->
  <link href="{% static 'educat/style/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'educat/style/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'educat/style/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'educat/style/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
  <link href="{% static 'educat/style/assets/css/style.css' %}" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maundy - v4.5.0
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
{% include 'educat/menu.html' %}
<div class="context">


    </div>
{% include 'educat/accordion-menu.html' %}




<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
<div><p>{{module.name}}</p></div>

<footer id="footer">

      <div class="copyright">
        &copy; Copyright <strong><span>EPS</span></strong>

  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>
  <!-- Vendor JS Files -->
<script type="text/javascript">
function barWidth(){
var d =document.getElementsByClassName("cont_ainer");
d[0].classList.toggle("change");
	}

function navTog(x) {
    x.classList.toggle("change");
}

</script>
  <script src="{% static 'educat/style/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'educat/style/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'educat/style/assets/js/main.js' %}"></script>
    <script src="{% static 'educat/style/js/main.js' %}"></script>


</body>

</html>