<div class="context">


    </div>



<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
<div class="wrap">
    <div>
        <h1>Bienvenue Sur l'application EPS</h1>
    </div>


   <div class="search">
      <input type="text" class="searchTerm" placeholder="Exemple : 1AC Foot Ball">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>

   </div>
    <div><strong>Saisissez les termes de votre recherche !</strong></div>

    <div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">
  Par Categorie <span class="badge badge-light">4</span>
</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">
  Par Niveau <span class="badge badge-light">4</span>
</button>
    </div>
  </div>
        <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">
  Par Activité <span class="badge badge-light">4</span>
</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">
  Par Famille <span class="badge badge-light">4</span>
</button>
    </div>
  </div>
</div>
</div>
