{% load static %}
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Bienvenue !</h1>
      <p> <span class="typed" data-typed-items="Saisissez les termes de votre recherche, OU, Suivez la bare de navigation"></span></p>
       <div class="InputContainer">
           <form method="POST" action="{% csrf_token %}">
      <input placeholder="termes de recherche ici" class="form-control" name="query" />
      <button type="button" class="btn btn-outline-primary">Lancer la Recherche</button>
           </form>
    </div>
    </div>

<div class="result">

         {% for resultat in resultats %}
         <ul>
             <li>{{resultat.name}}</li>
         </ul>
         {% endfor %}
</div>
  

  </section><!-- End Hero -->